
@{
    ViewBag.Title = "Home Page";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Login");
    }
}

<!-- Header -->
<header id="head">
    <div class="container">
        <div class="heading-text">
            <h1 class="animated flipInY delay1">Testimonial Providing System</h1> <br />
            <p>Highest Echelon of Software Engineering in Bangladesh</p>
        </div>

        <div class="fluid_container">
            <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
                <div data-thumb="/assets/images/slides/thumbs/img1.jpg" data-src="/assets/images/slides/img1.jpg">
                    <h2>We develop.</h2>
                </div>
                <div data-thumb="/assets/images/slides/thumbs/img2.jpg" data-src="/assets/images/slides/img2.jpg">
                </div>
                <div data-thumb="/assets/images/slides/thumbs/img3.jpg" data-src="/assets/images/slides/img3.jpg">
                </div>
            </div><!-- #camera_wrap_3 -->
        </div><!-- .fluid_container -->
    </div>
</header>
<!-- /Header -->

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="grey-box-icon b1">
                <h4>Professionalism</h4>
                <p>
                    IIT's primary vision is to plant the seed of professionalism amongst its students to ensure they lead a successful life. IIT firmly believes that people who act professionally, encourage their colleagues and friends to conduct themselves in a manner that supports success.
                </p>
                <p><a href="#"><em>Read More</em></a></p>
            </div><!--grey box -->
        </div><!--/span3-->
        <div class="col-md-3">
            <div class="grey-box-icon b2">
                <h4>Excellence</h4>
                <p>
                    The students of IIT are taught not to leave their performance at existing levels, but take it many steps higher. IIT strongly motivates its students to go that extra mile through learning new skills and improving existing ones, a trait that can only be achieved by striving for excellence.
                </p>
                <p><a href="#"><em>Read More</em></a></p>
            </div><!--grey box -->
        </div><!--/span3-->
        <div class="col-md-3">
            <div class="grey-box-icon b3">
                <h4>Respect</h4>
                <p>
                    The students of IIT should be friendly to each other through sharing a positive viewpoint where they should value others. Students in IIT do not impose their own will and never hesitate to take advice, a trait they have gained through showing and earning respect.
                </p>
                <p><a href="#"><em>Read More</em></a></p>
            </div><!--grey box -->
        </div><!--/span3-->
        <div class="col-md-3">
            <div class="grey-box-icon b4">
                <h4>Vision</h4>
                <p>
                    Institute of Information Technology, University of Dhaka aims to be the producer of future leaders in Software Engineering. In this course, it is intended to open up new horizons and advance the frontiers of knowledge in Software Engineering.
                </p>
                <p><a href="#"><em>Read More →</em></a></p>
            </div><!--grey box -->
        </div><!--/span3-->
    </div>
</div>
<section class="news-box top-margin">
    <div class="container">
        <h2><span>New Courses</span></h2>
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><img src="assets/images/news2.jpg" alt=""></figure>
                        <div class="caption maxheight2">
                            <div class="box_inner">
                                <div class="box">
                                    <p class="title"><h5>Developer</h5></p>
                                    <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><img src="assets/images/news3.jpg" alt=""></figure>
                        <div class="caption maxheight2">
                            <div class="box_inner">
                                <div class="box">
                                    <p class="title"><h5>Photography   </h5></p>
                                    <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><img src="assets/images/news4.jpg" alt=""></figure>
                        <div class="caption maxheight2">
                            <div class="box_inner">
                                <div class="box">
                                    <p class="title"><h5>Audio Editing</h5></p>
                                    <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="title-box clearfix "><h2 class="title-box_primary">About Us</h2></div>
            <p><span>Perspiciatis unde omnis iste natus error sit voluptatem. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus musull dui.</span></p>
            <p>Lorem ipsumulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus. Null dui. Fusce feugiat malesuada odio.</p><p>Lorem ipsumulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus. Null dui. Fusce feugiat malesuada odio.</p>
            <a href="#" title="read more" class="btn-inline " target="_self">read more</a>
        </div>


        <div class="col-md-4">
            <div class="title-box clearfix "><h2 class="title-box_primary">Up Coming Courses</h2></div>
            <div class="list styled custom-list">
                <ul>
                    <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">Mathematics and Computer Science</a></li>
                    <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">Mathematics and Philosophy</a></li>
                    <li><a title="Penatibus et magnis dis parturient montes ascetur ridiculus mus." href="#">Philosophy and Modern Languages</a></li>
                    <li><a title="Morbi nunc odio gravida at cursus nec luctus a lorem. Maecenas tristique orci." href="#">History (Ancient and Modern)</a></li>
                    <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">Classical Archaeology and Ancient History</a></li>
                    <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">Physics and Philosophy</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

