@model PGDIT_TPS.Models.Account.Document
@{
    ViewBag.Title = "Submit";
    Layout = null;
}

<html>
<head>
    <title>Submit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/assets/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">*@
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome.min.css">*@
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/css/util.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
        <div class="limiter">
            <div class="container-login100" style="background-image: url('/assets/images/mailbox.jpg');">
                <div class="wrap-login100 p-t-30 p-b-50">
                    <span class="login100-form-title p-b-41">
                        Request has been sent
                    </span>
                    <span class="login100-form-title p-b-41">
                        you will be notified with email or sms
                    </span>
                    <div class="container-login100-form-btn m-t-32">
                        @*<button class="login100-form-btn">
                            Home
                        </button>*@
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "login100-form-btn", @type = "button" })
                    </div>
                </div>
            </div>
        </div>

 <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/assets/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/assets/vendor/bootstrap/js/popper.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/assets/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/assets/vendor/daterangepicker/moment.min.js"></script>
    <script src="/assets/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/assets/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="/assets/js/mainlogin.js"></script>
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>

